.table1{
  width: fit-content;
  /* margin-left: 50px; */
  margin: 20px auto;
}
.table1 td{
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
}
.dataSharingButton{
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: aqua;
}

.backImage{
  background-image: url("https://www.skylineuniversity.ac.ae/blog/images/2021/01/08/isvsit.jpg");
  background-size: cover;
  /* background: rgb(26, 31, 41); */
  height: 91vh;
  margin-top: 0px;
  font-size:50px;
  background-repeat:no-repeat;
  /* filter: blur(); */
}