.app {
  text-align: center;
}

.inputs{
  /* height: auto; */
  margin-left: 40px;
  width: 70%;
  /* margin-right: 200px; */
} 

.registerButton{
  background-color: cadetblue;
  height: 50px;
  width: 100px;
  border: solid black 2px;
  border-radius: 20px;
}