*{
  box-sizing: border-box;
}


.title{
  font-size: 32px;
    font-weight: 600;
    color: rgb(64, 64, 64);
    line-height: 39px;
    margin-top: 100px;
    margin-left: 78px;
}

.after_title{
  font-size: 14px;
    font-weight: 400;
    color: rgb(64, 64, 64);
    line-height: 17px;
    margin-top: 10px;
    margin-left: 78px;
}

.button{
  border: solid 2px;
  border-radius: 5px;
  font-size: 15px;
  width: 150px;
  height: 36px;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 150px;
  /* margin-bottom: 60px; */
  margin-left: 78px;
  padding-left: 10px;
}

.boxes{
  margin-top: 40px;
}

.left_one {
  float:left; 
  background:#faf7f7;
  width:25%;
  height:320px;
}
.middle_one{
  float:left; 
  background:#faf7f7;
  width:50%;
  height:320px;
}
.right_one{
  float:right;
  background:#faf7f7;
  width:25%;
  height:320px;
}

.right_one:hover{
  background-color: #f5e7e7;
  /* color: #f5e7e7 ; */
}

.left_title{
  margin-top: 220px;
  margin-left: 40px;
  font-size: 17px;
}
.left_one:hover{
  background-color: #f5e7e7;
}

.middle_title{
  margin-top: 180px;
  font-size: 30px;
}
.middle_title_h1{
  margin-top: 10px;
  font-size: 18px;
}
.middle_one:hover{
  background-color: #f5e7e7;
}



.right_title{
  margin-right: 40px ;
  margin-top: 220px;
  font-size: 17px;
}